body{
  height: 98vh;
  font-family: 'Open Sans', Andada Pro, Poppins;
  background-color: gray;
  
}

header{
  width: 100%;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 15%;
}

h1{
   font-size: 7rem;
   font-weight: 650;
   font-family: 'Ubuntu', Georama, Noto Sans;
   color: purple;
   
}

h2{
  font-size: 1.9rem;
  font-weight: 700;
  padding-bottom: 3%;
}

h3{
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Ubuntu', Tahoma, Georama;
}



#main{
   width: 100%;
   text-align: left;
   padding-bottom: 5%;
   padding-top: 2%;
}

#main input{
margin-bottom: 5%;
padding-top: 1%;
  padding-bottom: 1%;
}

#main label{
  font-size: 1.5rem;
  color: purple;
  font-weight: 450;
  padding-top: 6%;
  padding-bottom: 7%;
}



#main #submit{
  padding: 1rem;
  background-color:white;
  
}
#main #submit:hover{
  background-color: red;
}

@media only screen and (min-width: 768px){
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.8rem;
  }
  #main label{
    font-size: 1.6rem;
  }
  .label-input input{
    height: 1.6rem;
  }
  #benefits li{
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1200px){
  header{
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  h3{
    font-size: 1.8rem;
  }
  #main input{
    margin-bottom: 1rem;
   }
  #main label{
    font-size: 1.2rem;
  }
  .label-input input{
    height: 1.6rem;
  }
  #benefits{
    padding-top: 4rem;
    margin: 1rem auto;
    max-width: 600px;
  }
  #benefits li{
    font-size: 1.6rem;
  }
}