body{
  height: 98vh;
  font-family: 'Open Sans', Andada Pro, Poppins;
  background-color: #f82700;
  
}

header{
  width: 100%;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 7%;
}

h1{
   font-size: 5rem;
   font-weight: 650;
   font-family: 'Ubuntu', Georama, Noto Sans;
   color: #f89100;
   -webkit-text-stroke: 1px #f8c800;
}

h2{
  font-size: 1.9rem;
  font-weight: 700;
  padding-bottom: 3%;
}

h3{
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Ubuntu', Tahoma, Georama;
}

#main{
   width: 100%;
   text-align: center;
}

#main input{
margin-bottom: 2.5%;
}

#main label{
  font-size: 1.5rem;
  color: black;
  font-weight: 450;
}

#benefits{
  padding-top: 2%;
  margin: 6% auto;
  width: 70%;
  border: 4px solid black;
  background-color: gray;
}



#benefits li{
  text-align: center;
  padding-bottom: 5%;
  line-height: 1.4;
}